{% extends "listing.j2" %}

{% block additional %}
{% for res in site.content.walk_resources_sorted_by_time() %}
  <p>{{ res.meta.title }}</p>
{% endfor %}
        <div class="entry-list">
            <ol class="group">
                <li>
                <a href="article.html">Extending and improving InfinitePaginator</a>
                <div class="bordertop"><span class="snip">There are a few tweaks we can make to the InfinitePage class to make it easier to use, and further improve its performance.</span></div>
                </li>
               
                <li><a href="/blog/2011/01/debugging-django-dev-server/">Accessing and debugging the Django development server from another machine</a> <!--<span class="time">POSTED 2 WEEKS, 1 DAY AGO</span>-->
                <div class="bordertop"><span class="snip">In continuing my series about Django development on a Linux VM, I make a few tweaks to some Django settings to make debugging easier from the host machine.</span></div>

             </li>
             <li>   <a href="/blog/2010/12/using-windows-to-access-linux-host-name/">Using Windows to access a Linux virtual machine by its host name</a> <!--<span class="time">POSTED 1 MONTH, 1 WEEK AGO</span>-->
             <div class="bordertop"><span class="snip">Initially, I needed to use an IP address to access a Linux virtual machine.  This post details how to setup Samba on the VM to join in the NetBIOS action.</span></div>
             </li>

             <li>   <a href="/">Setting up a Linux virtual machine for easy web development on Windows</a>
             <div class="bordertop"><span class="snip">Being a Windows user can be a real drag when trying to use technologies originally designed for the Unix world. There must be an easier way! Virtualization to the rescue!</span></div>
             </li>
             <li>   <a href="/">Cygwin: Fatal error - unable to remap</a>
             <div class="bordertop"><span class="snip">I love using Cygwin to get access to a Unix shell on Windows, but this error happens pretty frequently on Vista and Windows 7. Here's some information and how to fix it</span></div>
             </li>

            <li>   <a href="/">Setting up a Linux virtual machine for easy web development on Windows</a>
             <div class="bordertop"><span class="snip">Being a Windows user can be a real drag when trying to use technologies originally designed for the Unix world. There must be an easier way! Virtualization to the rescue!</span></div>
             </li>
             <li>   <a href="/">Cygwin: Fatal error - unable to remap</a>
             <div class="bordertop"><span class="snip">I love using Cygwin to get access to a Unix shell on Windows, but this error happens pretty frequently on Vista and Windows 7. Here's some information and how to fix it</span></div>
                </li>

            </ol>

        </div>

{% endblock %}
