{% from "macros.j2" import render_atom_item with context %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{% block title %}{{ author.name}} | {{ resource.meta.title }}{% endblock %}</title>
    {% block self_url %}
    <link href="{{ author.url }}{{ resource.full_url }}" rel="self" />
    {% endblock %}

    {% block site_url %}
    <link href="{{ author.url }}" />
    {% endblock %}

    {% block feed_extra %}
    {% endblock %}

    <updated>{{ time_now|xmldatetime }}</updated>

    <id>{{ author.url }}{{ resource.full_url }}</id>

    {% for res in site.content.walk_resources_sorted_by_time() %}
        {% if loop.index > 5 %}{% break %}{% endif %}
        {{ render_atom_item(res) }}
    {% endfor %}
</feed>
