{% extends "base.j2" %}
{% from "macros.j2" import render_listing_item with context %}

{% block content %}
<h1>Tagged with '{{ resource.meta.title }}'</h1>
<div class="entry-list">
    <ol class="group">
        {% for res in resource.node.walk_resources_tagged_with(resource.meta.title) %}
	  {{ render_listing_item(res) }}
        {% endfor %}
    </ol>
</div>
{% endblock %}
